<% layout 'error_layout', :title => "application could not be started" do %>
<h1 class="error_title">application could not be started</h1>
<div id="content">

	There appears to be a database problem.
	<ul>
	<li class="first">
		<div class="container">
		<div class="content">
		</div>
		</div>
	</li>
	<li class="last">
		<div class="container">
		<div class="content">
		The database server may not be running. Please check whether it's
		running, and start it if it isn't.
		</div>
		</div>
	</li>
	</ul>
	
</div>
<% end %>
