<% layout 'error_layout', :title => "Ruby on Rails framework could not be loaded" do %>
<h1 class="title error_title">Ruby on Rails framework could not be loaded</h1>
<div id="content">
	
	<dl>
	<dt>Framework that failed to load:</dt>
	</dl>

</div>
<% end %>
